Repository samirelhassann/news-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,html}": ["eslint --cache --max-warnings=0 --fix"],
  "**/*.json": "prettier --write"
}

feat: adjust ci-cd
  .github/workflows/ci.yaml
Due: none

feat: adjust ci-cd
  scripts/generate-env.js
Due: none

deploy: c2804f8ad724fe71008d84f0cb852ed17f0dd2ae
  .nojekyll
  prime-ng-template/3rdpartylicenses.txt
  prime-ng-template/browser/chunk-AHFDEE6H.js
  prime-ng-template/browser/chunk-UWZTTDBS.js
  prime-ng-template/browser/favicon.ico
  prime-ng-template/browser/flame.svg
  prime-ng-template/browser/index.html
  prime-ng-template/browser/main-5CXXXKN3.js
  prime-ng-template/browser/polyfills-SC4UBBZS.js
  prime-ng-template/browser/styles-WR2TX5KR.css
  prime-ng-template/prerendered-routes.json
Due: eslint --cache --max-warnings=0 --fix, prettier --write

feat: adjust ci-cd
  .github/workflows/ci.yaml
  angular.json
  package.json
Due: prettier --write

feat: adjust ci-cd
  .github/workflows/ci.yaml
  package.json
Due: prettier --write

feat: adjust ci-cd
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: eslint --cache --max-warnings=0 --fix

Update README.MD
  README.MD
Due: none
